<div class="container">
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>ALL TASKS</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.category.name %> </td>
        <td><%= link_to 'VIEW', task, {:style => 'color: purple'} %></td>
        <td><%= link_to 'EDIT', edit_task_path(task)%></td>
        <td><%= link_to 'DELETE',  task, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'NEW TASK', new_task_path, {:style => 'color:#ffc107'}  %>
</div>