<div class="container">
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>CHOOSE A CATEGORY TO START!</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td style = "text-transform: uppercase; "><%= category.name %></td>
        <td><%= link_to 'VIEW', category, {:style => 'color: purple'} %></td>
        <td><%= link_to 'EDIT', edit_category_path(category)%></td>
        <td><%= link_to 'DELETE',  category, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'NEW CATEGORY', new_category_path, {:style => 'color:#ffc107'}  %>
</div>