<p id="notice"><%= notice %></p>
<div class="container">

<table>
  <thead>
    <h3>
  <strong> <%= @category.name %></strong>
</h3>
  </thead>

  <tbody>
     <% @tasknow.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= link_to 'VIEW', task, {:style => 'color: purple'} %></td>
        <td><%= link_to 'EDIT', edit_task_path(task)%></td>
        <td><%= link_to 'DELETE',  task, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit Category', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</div>

