<nav>  
    <div class="nav-wrapper yellow lighten-5">
        <a href="#" class="brand-logo left amber">☺</a>
      <ul  class="right hide-on-med-and-down" style = "background-color:#ffc107">
         <li><%= link_to 'VIEW TASKS', tasks_path %></li>
         <li><%= link_to 'VIEW CATEGORIES', categories_path %></li>
        </ul>
    </div>
  </nav>


